<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.tibco.adapter.tester.launcher.type">
<stringAttribute key="ADAPTER_COMMAND_ARGUMENTS_ATTRIBUTE" value=""/>
<stringAttribute key="ADAPTER_EXECUTABLE_ATTRIBUTE" value="C:\TIBCO62\adapter\adfiles\7.0\bin\adfilesagent.exe"/>
<stringAttribute key="ADAPTER_TRA_ATTRIBUTE" value="C:\TIBCO62\adapter\adfiles\7.0\bin\adfilesagent.tra"/>
<stringAttribute key="ADAPTER_XMI_RESOURCE_ATTRIBUTE" value="/BaseRecord/ContainerReader.adfilesmodel"/>
<stringAttribute key="GLOBAL_VARIABLES_TABLE_INPUT" value="MapKey=TIBCO_ADFILES_HOME_ESCMapValue="/>
<stringAttribute key="WORKING_DIR_ATTRIBUTE" value="C:\TIBCO62\adapter\adfiles\7.0\examples\reader\wip"/>
<stringAttribute key="exeFileMapping" value="MapKey=TIBCO ActiveMatrix Adapter for Files for Unix/Win 7.0.0.28 (adfilesagent.exe)MapValue=C:\TIBCO62\adapter\adfiles\7.0\bin\adfilesagent.exe"/>
<stringAttribute key="isTibco" value="true"/>
<intAttribute key="selectedItem" value="0"/>
<stringAttribute key="traFileMapping" value="MapKey=TIBCO ActiveMatrix Adapter for Files for Unix/Win 7.0.0.28 (adfilesagent.exe)MapValue=C:\TIBCO62\adapter\adfiles\7.0\bin\adfilesagent.tra"/>
</launchConfiguration>
