{
  "pid": "com.tibco.bw.stat.appnode.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "com.tibco.bw.stat.appnode.5cf5e9c0-b718-4fa5-a6fd-20b46e7599bc",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}